@charset "UTF-8";

/* 레이아웃 */
* {
    margin: 0;
    padding: 0;
}

@charset "UTF-8";

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

/* wrap */
#wrap {
    width: 1200px;
    margin: 0 auto;
}

/* header */
#header {
    background-color: #efefef;
}

#header .logo {
    float: left;
    width: 300px;
    height: 100px;
    background-color: #c7c7c7;
}

#header .nav {
    float: left;
    width: 900px;
    height: 100px;
    background-color: #bcbcbc;
}


/* banner */
#banner {
    height: 300px;
    background-color: #e3e3e3
}

/* contents */
#contents {
    background-color: #d9d9d9;
}

#contents .cont1 {
    float: left;
    width: 400px;
    height: 200px;
    background-color: #bcbcbc;
}

#contents .cont2 {
    float: left;
    width: 400px;
    height: 200px;
    background-color: #b1b1b1;
}

#contents .cont3 {
    float: left;
    width: 400px;
    height: 200px;
    background-color: #bcbcbc;
}

/* footer */

#footer {}

#footer .footer1 {
    float: left;
    height: 100px;
    width: 900px;
    background-color: red;
}

#footer .footer1 .foot1 {
    float: left;
    width: 900px;
    height: 50px;
    background-color: rebeccapurple;
}

#footer .footer1 .foot2 {
    float: left;
    width: 900px;
    height: 50px;
    background-color: aquamarine;
}

#footer .footer2 {
    float: left;
    background-color: yellowgreen;
    height: 100px;
    width: 300px;

}

/* 🔥float 줄 때 넓이가 없으면 영역이 잡히지 않음 */