<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A-4</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="wrap">
        <div id="header" class="clearfix">
            <div class="logo"></div>
            <div class="nav"></div>
        </div><!-- header -->
        <div id="banner"></div><!-- banner -->
        <div id="contents" class="clearfix">
            <div class="cont1"></div>
            <div class="cont2"></div>
            <div class="cont3"></div>
        </div><!-- contents -->
        <div id="footer" class="clearfix">
            <div class="footer1">
                <div class="foot1"></div>
                <div class="foot2"></div>
            </div>
            <div class="footer2"></div>
        </div><!-- footer -->

</body>

</html>