@charset "UTF-8";

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}

/* wrap */
#wrap {
    width: 1200px;
    margin: 0 auto;
}

/* header */
#header {
    background-color: #efefef;
}

#header .logo {
    float: left;
    width: 300px;
    height: 100px;
    background-color: #efefef;
}

#header .nav {
    float: left;
    width: 900px;
    height: 100px;
    background-color: #e3e3e3;
}

/* banner */
#banner {
    height: 300px;
    background-color: #d9d9d9;
}

/* contents */
#contents {
    background-color: #d9d9d9;
}

#contents .cont1 {
    float: left;
    width: 400px;
    height: 200px;
    background-color: #d1d1d1;
}

#contents .cont2 {
    float: left;
    width: 400px;
    height: 200px;
    background-color: #c7c7c7;
}

#contents .cont3 {
    float: left;
    width: 400px;
    height: 200px;
    background-color: #bcbcbc;
}

/* footer */
#footer {
    background-color: #d1d1d1;
}

#footer .footer1 {
    float: left;
    width: 300px;
    height: 100px;
    background-color: red;
}

#footer .footer2 {
    float: left;
    width: 900px;
}

#footer .footer2 .foot1 {
    float: left;
    width: 900px;
    height: 50px;
    background-color: #a3a3a3;
}

#footer .footer2 .foot2 {
    float: left;
    width: 900px;
    height: 50px;
    background-color: #9d9d9d;
}

/* footer float left에 대해 질문하기/뭐가 어떻게 들리는지 도통 모르겠음, float을 왜 다 줘야하는거지?--> footer1옆에 정렬하는데 footer1한테도 float left를 주는 이유는 블록 요소기 때문에,  자리를 비켜주지 않아서 */