@charset "UTF-8";

*{margin: 0;padding: 0;font-size: 14px;}

.clearfix::after{content:"";clear:both;display: block;}

/* reset */
li{list-style: none;}
a{color: #333;text-decoration: none;}

/* wrap */
#wrap{width: 1000px; margin: 0 auto;}

/* header */
#header{}
#header h1{float: left;width: 120px;}
#header h1 a img{width:100%;}

/* nav */
#header #nav{float: right;text-align: center;margin-top: 20px;}
#header #nav ul{}
#header #nav ul li{position: relative;float: left;width: 120px;}
#header #nav ul li a{background-color: #ccc;display: block;padding: 20px 15px;transition: 0.3s;}
#header #nav ul li a:hover{background-color: #ddd;}
#header #nav ul li #submenu{display: none;position: absolute;top: 60;left:0;z-index: 10}

/* banner */
#banner{height: 376px;overflow: hidden;}
#banner .slidelist{position: relative;}
#banner .slidelist .slideimg{position:relative;}
#banner .slidelist .slideimg h2{
position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
background-color: rgba(0,0,0,0.5);
padding: 10px 30px;
border-radius: 20px;
color: #fff;
}
#banner .slidelist .slideimg img{width: 100%;display: block;}

/* content1 */
#content{}
#content #notice{}
#content #notice ul{}
#content #notice ul li{float: left;}
#content #notice ul li a{}
#content #notice ul li span{}