@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    /* font-size: 16px 기본값; */
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* reset */
li {
    list-style: none;
}

/* 글앞에 블릿문자(숫자나 특수문자, ex.●요금 우대 혜택) 삭제 */
a {
    color: #333;
    text-decoration: none;
}

/* 'a'테그는 글자색과 밑줄을 타고남*/


/* wrap */
#wrap {
    width: 1000px;
    margin: 0 auto;
}


/* header */
#header {}

#header h1 {
    float: left;
    width: 120px;
}

#header h1 a img {
    width: 100%;
}

#header .nav {
    float: right;
    text-align: center;
    /* 내 자식중에 인라인 요소(a)가 있다면 그쪽에 적용한다 */
    /* 자식요소중 인라인 요소를 가운데 정렬(블록요소는 적용X)*/
    margin-top: 20px;
}

#header .nav ul {}

#header .nav ul li {
    position: relative;
    /* 아무런 영향을 주지않고 abosolute 된것의 기준만 되준다 */
    float: left;
    width: 120px;
}

#header .nav ul li a {
    /* 인라인 요소  */
    background-color: #ccc;
    display: block;
    /* 'a'가 인라인이라서 블록요소로 바꿔준 것 */
    padding: 20px 15px;
    /* li에 padding주면 'a'의 글자에만 href 걸림*/
    transition: 0.3s;
    /* =300ms /1000ms->1s */
}

#header .nav ul li a:hover {
    background-color: #ddd;
}

#header .nav ul li .submenu {
    display: none;
    /* opacity와 다르게 실제로 없어짐 */
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10; /*z축:앞 뒤로 나오게 하는 것, position이 없으면 실행되지 않음*/
}

/*banner*/
#banner {
    height: 378px;overflow: hidden;/* 나보다 넘치는 것은 숨겨라 */
}

/* 378은 높이의 반, 속성에서 확인 */
#banner .slidelist {}

#banner .slidelist .slideimg {
    position: relative;
}

#banner .slidelist .slideimg h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    /*검정인데 투명*/
    padding: 10px 30px;
    border-radius: 20px;
    /*원의 반지름*/
    color: #fff;
}

#banner .slidelist .slideimg img {
    /* img 태그의 특징
   인라인 요소--> 예측하지 못한 공간을 가지고 있음
   img 태그와 버튼 태그는 넓이를 인식함.
   해결방법 2가지
   1. display:block;
   2.vertical-align:top(미들을 사용할 때도 있음)*/
   vertical-align:top;
    width: 100%;
}

/* class는 점, class 없으면 점 찍으면 안됨 */ 
/*나중에 만든게 우선순위가 높음*/